<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Doctores</title>
    <link rel="stylesheet" href="/public/Style.css">
    <link rel="stylesheet" href="/public/Estilos_Externos.css">
</head>
<body>
    <div>
        <ul class="menuP">
            <li><a href="{{ url_for('IAdmIMedica') }}">Administración Médica</a>
                <ul class="submenu">
                </ul>
            </li>
            <li><a href="{{ url_for('RegPas') }}">Registro Paciente</a>
                <ul class="submenu">
                </ul>
            </li>
            <li><a href="{{ url_for('IExploYDiagnost') }}">Diagnostico</a>
                <ul class="submenu">
                </ul>
            </li>
            <li><a href="{{ url_for('ConsultaPacientes') }}">Consultar Paciente</a>
                <ul class="submenu">
                </ul>
            </li>
            <li><a href="{{ url_for('AdministracionMedicos') }}">Administracion Consultas</a>
                <ul class="submenu">
                </ul>
            <li><a href="{{ url_for('ListaDr') }}">Lista de Doctores</a>
                <ul class="submenu">
                </ul>
            </li>
            </li>
            </li>
        </ul>
    </div>
</div>

<div class="Formulario">
    <h1> Buscar Dr.</h1>
    <form method="post">
        <div class="username">
            <input type="text" required>
            <label>Apellido o Nombre del Dr.</label>
        </div>

    </form>
    <input type="submit" value="Buscar"> 
        <form method="post">
        <div class="username">
            <input type="text" required>
            <label>Lista de Dr.</label>

        
    </form>
  </div>  
 
</body>
</html>