<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro Pacientes</title>
    <link rel="stylesheet" href="/public/Style.css">
    <link rel="stylesheet" href="/public/Estilos_Externos.css">
</head>
<body>
    {%with mensajes= get_flashed_messages() %}
        {%if mensajes%}
            {%for msj in mensajes%}
                <h1>{{ msj }}</h1>
            {%endfor%}
        {%endif%}
    {%endwith%}
    <div>
        <ul class="menuP">
            <li><a href="{{ url_for('IAdmIMedica') }}">Administración Médica</a>
                <ul class="submenu">
                </ul>
            </li>
            <li><a href="{{ url_for('RegPas') }}">Registro Paciente</a>
                <ul class="submenu">
                </ul>
            </li>
            <li><a href="{{ url_for('IExploYDiagnost') }}">Diagnostico</a>
                <ul class="submenu">
                </ul>
            </li>
            <li><a href="{{ url_for('ConsultaPacientes') }}">Consultar Paciente</a>
                <ul class="submenu">
                </ul>
            </li>
            <li><a href="{{ url_for('AdministracionMedicos') }}">Administracion Consultas</a>
                <ul class="submenu">
                </ul>
            <li><a href="{{ url_for('ListaDr') }}">Lista de Doctores</a>
                <ul class="submenu">
                </ul>
            </li>
            </li>
            </li>
        </ul>
    </div>

<div class="Formulario">
    <h1>Registro de Paciente</h1>
    <form method="post" action="/ingresarpaciente">
        <div class="username">
            <input type="text" name="nombreP" placeholder="Nombre(s) Paciente" required>
        </div>
        <div class="username">
            <input type="text" name="apellidoPP" placeholder="Apellido Paterno" required>
        </div>
        <div class="username">
            <input type="text" name="apellidoPM" placeholder="Apellido Paterno" required>
        </div>
        <div class="username">
            <input type="date" name="fechaNP" placeholder="Fecha de Nacimiento" required>
        </div>
        <div class="username">
            <input type="text" name="EnfermedadesP" placeholder="Enfermedades Cronicas" required>
        </div>
        <div class="username">
            <input type="Text" name="alergiasP" placeholder="Alergias" required>
        </div>
        <div class="username">
            <input type="text" name="antecedentesP" placeholder="Antecedentes familares" required>  
        </div>
        <button type="submit"> Iniciar </button>          
    </form>
  </div>  
</body>
</html>